.DS_Store
._.DS_Store
.metadata/*
RemoteSystemsTempFiles/*
*/target/
.settings/
*/.gwt/
*/.classpath
*/.project
.project
*/.pydevproject
.pydevproject
*~
*.cache

__pycache__
*.pytest_cache/
\#*\#
*.pyc
flask
*_virt_env*
.terraform/
*.tfstate
*.tfstate.backup
*-plangraph.png
*-plangraph_old.png
.tf_modules.lock
.tf_apply.lock
.swf
**/.Rhistory
tfvars.py
*.Rproj.user
*.Rproj
.Rproj.user
*-junit.xml
docs/api_docs/build/doctrees/
