//params.reads = "/home/admin/samples/*_L001_R{1,2}_001.fastq"
params.bams = "[!*]"
params.ref = "/mnt/EFS/dbs/SARS-CoV2/refs/SARS-CoV2.fa"
params.outdir = "/home/admin"
params.adapters = "/usr/local/src/Trimmomatic-0.39/adapters/NexteraPE-PE.fa"
params.snpeff = "/usr/local/src/nephele2/pipelines/SARS-CoV2/snpEff.config"
params.pl = "illumina"
params.pm = "miseq"
params.fcid = "000000000-CP3RN"
params.grouping_regex = "-[AB]_S\\d+"
//params.primers_a = "/usr/local/src/nephele2/pipelines/SARS-CoV2/new_A.fa"
//params.primers_b = "/usr/local/src/nephele2/pipelines/SARS-CoV2/new_B.fa"
params.trimjar = "/usr/local/src/Trimmomatic-0.39/trimmomatic-0.39.jar"
params.picardjar = "/usr/local/src/picard.jar"
params.gatkjar = "/usr/local/src/gatk-4.1.9.0/gatk-package-4.1.9.0-local.jar"
params.pilon = "/usr/local/src/pilon-1.23.jar"
params.snpeffjar = "/usr/local/src/snpEff/snpEff.jar"
params.jvarkitsortjar = "/usr/local/src/jvarkit/dist/sortsamrefname.jar"
params.jvarkitbiojar = "/usr/local/src/jvarkit/dist/biostar154220.jar"
params.filter_variants_script = "/usr/local/src/nephele2/pipelines/SARS-CoV2/filter_variants.py"
params.parse_metrics_script = "/usr/local/src/nephele2/pipelines/SARS-CoV2/parse_metrics.sh"


// First one is CGSB file naming, second one is Illumina
//params.read_pair_regex = params.fcid + "_l0[12345678]_n0[12]_"
//params.read_pair_regex = "_L00[1234]_R[12]_001"

// Set the Nextflow Working Directory
// By default this gets set to params.outdir + '/nextflow_work_dir'
//workDir = params.outdir + '/nextflow_work_dir'
//workDir = '/home/admin/nextflow_work_dir'

// Slurm settings
