<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div>
    <p>Dear Nephele User,</p>

    <p>Your pipeline submission with ID {{ job_id }} was unable to complete.</p>
    {% if err_msg %}
      <br><br>
      <ul><li>Possible reason: {{ err_msg }}</li></ul>
    {% endif %}

    <p>Your results are available to download
      <a href="{{ base }}/results/{{ job_id }}" target="_blank">here</a>.</p>

    {% if job_type == 'DS_Analysis' %}
      <p>Note: Your results contain QIIME 2 Visualization (.qzv) files. These can be viewed on the
      <a href="https://view.qiime2.org/" target="_blank">QIIME 2 website</a>.</p>
    {% endif %}

    <p>Reasons your pipeline was unable to complete may be found in the file
    called 'logfile.txt', typically at the end of the file or by searching the for the string "ERROR".
    This information can be used to check the
    <a href="https://nephele.niaid.nih.gov/faq/#collapse8" target="_blank">Nephele FAQs page</a>
    for possible suggestions for addressing this error.</p>

    <p>Alternatively, please reply to this e-mail with any questions or
    comments, and we'll get back to you as soon as possible.</p>

    <p>Thank you,</p>

    <p>The Nephele Team<br>
    <a href="https://nephele.niaid.nih.gov" target="_blank">https://nephele.niaid.nih.gov</a><br>
    National Institute of Allergy and Infectious Diseases (NIAID)<br>
    National Institutes of Health (NIH)

</div>
</body>
</html>
