<!DOCTYPE html>
<html>
    <head>
        <title>Nephele Registration Confirmation</title>
    </head>
    <body style="font-size:14px;font-family:Helvetica Neue;">
        <p>Hello,

        <p class="p1">Thank you for registering to use Nephele.  To complete your registration, click
          <a href="{{ confirm_url }}">Confirm</a>

        <p class="p2">&nbsp;

        <p class="p2">If you have any questions, please contact us at <a href="mailto:nephelesupport@nih.gov?Subject=Nephele Help"><span class="s1">nephelesupport@nih.gov</span></a>.

        <p class="p2">&nbsp;

        <p class="p2">The Nephele Team<br>
            <a href="https://nephele.niaid.nih.gov/"><span class="s1">https://nephele.niaid.nih.gov</span></a><br>
            National Institute of Allergy and Infectious Diseases (NIAID)<br>
            National Institutes of Health (NIH)

    </body>
</html>
