{% extends "base.html" %}

{% block title %}500 Server Error{% endblock %}

{% block page_content %}
<div class="pb-2 mt-5 mb-5 border-bottom">
			<h1>500 Internal Server Error</h1>
    <p>Uh oh. Looks like there's something wrong on our end. Please check back later, we have been alerted that this occurred.<br/>
    Feel free to send any questions to <a href="mailto:nephelesupport@nih@@gov?Subject=Nephele Help" onmouseover="this.href=this.href.replace('@@','.')" onclick="this.href=this.href.replace('@@','.')">Nephele support</a>.</p>
		</div>
{% endblock %}


