{% extends "base.html" %}

{% block title %}504 Gateway Timeout{% endblock %}

{% block page_content %}
<div class="pb-2 mt-5 mb-5 border-bottom">
			<h1>504 Gateway Timeout Error</h1>
    <p>Uh oh. Looks like there's something wrong on our end. This error can sometimes occur when attempting to move large quantities of data through our system. Try re-submitting your data as a new job.<br/>
    Feel free to send any questions to <a href="mailto:nephelesupport@nih@@gov?Subject=Nephele Help" onmouseover="this.href=this.href.replace('@@','.')" onclick="this.href=this.href.replace('@@','.')">Nephele support</a>.</p>
		</div>
{% endblock %}


