      <ul>
      	<li><strong>Paired End:</strong> Paired-end sequencing involves sequencing DNA from both ends of a fragment.
      			    Choose this option if your sequence files are paired and have been demultiplexed. For example, Illumina MiSeq Paired End 
      			    fastq files consist of two files for each sample with names ending on “R1_001.fastq” and “R2_001.fastq”</li>
      	<li><strong>Single End:</strong> Single-end sequencing involves sequencing DNA from only one end of a fragment.</li>
        <li>If you need further information to help you decide what type of file you have,
        	see the <a href="https://www.ncbi.nlm.nih.gov/sra/docs/submitformats/" target="_blank" rel="noopener noreferrer">SRA file type information</a> page.</li>
      </ul>