{% extends "options_base_qc.html" %}

{% block form_content %}
<ul class="nav nav-tabs" role="tablist">
   <li class="nav-item"><a class="nav-link active show" href="#t1" role="tab" data-toggle="tab">Job Details</a></li>
   <li class="nav-item"><a class="nav-link" href="#t2" role="tab" data-toggle="tab">Options</a></li>
 </ul>
 <!-- create the two main cols here?, one for active-pane one for help-text -->
 <div class="container-fluid connected-pane" style="height: 100%;">
   <div class="row" style="height: 100%;">
     <div class="col-sm-8 tab-content" style="height: 100%;">
       <div class="tab-pane fade show active" id="t1">
        {# { d_group.render([form.job_desc, form.instance_type], group['Title']) } #}
        {{ d_group.render([form.job_desc], "Job Details") }}
       </div>
       <div class="tab-pane fade" id="t2">
       <div id="adapter">
    	{{ d_group.render([form.run_cutadapt, form.error_rate, form.indels, form.overlap, form.match_read_wildcards, form.match_adapter_wildcards, form.adapter_f, form.adapter_r, form.front_f, form.front_r, form.anywhere_f, form.anywhere_r], "Adapter/Primer Trimming") }}
       </div>
       <div id="trimming">
 	    {{ d_group.render([form.run_qual_trimming, form.window_size, form.req_qual, form.lead_qual, form.trail_qual, form.minlen, form.avg_qual], "Quality Trimming") }}
       </div>
       <div id="merge">
 	    {{ d_group.render([form.run_flash2_merge, form.f2_min_overlap, form.f2_max_overlap, form.f2_min_overlap_outie, form.f2_max_mismatch_density], "Merge Read Pairs") }}
       </div>
 	   </div>
     </div>
     <div class="col-sm-4 pre-scrollable" id="help-col" style="height: calc(100%); overflow-y: auto;">
       <div class="well raised-segment" id="help-container"></div>
     </div>
   </div>
 </div>
{% endblock %}