<p>Please select a pipeline you would like to run. Please note that a green check mark indicates the features that are included in the pipeline.
If you would like to learn more about each pipeline, please click the "See details" link.
<p><span class="fa fa-asterisk" style="font-size:8px; color:red; vertical-align: top;"></span>If you have a large dataset or a dataset with a diverse community, please consider running
the analysis using either the QIIME1 or DADA2 pipelines. These pipelines are more memory and computationally efficient, and your analysis will
complete more quickly and successfully.
<p>mothur generally requires a large amount of memory to run successfully. As an example, the required memory scales with the number of pairwise
distances, as mothur loads the entire distance matrix into memory. It is not uncommon that the distance matrix can balloon beyond 100GB
(<a href="http://mothur.org/blog/2014/Why-such-a-large-distance-matrix" target="_blank" rel="noopener noreferrer">http://blog.mothur.org/2014/09/11/Why-such-a-large-distance-matrix/</a>).
