{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/infopages.css') }}">
{% endblock %}

{% block content %}
     <div class="container">
		<div class="pb-2 mt-5 mb-5 border-bottom">
			<h1>Nephele Tutorials</h1>
		</div>
	<div class="row">
		  <div class="col-sm-3">
		
			<div class="list-group">
			  <a href="{{ url_for('show_tutorials') }}" class="list-group-item list-group-item-action">16S Visualization</a>
			  <a href="{{ url_for('show_phyloseq_tutorial') }}" class="list-group-item list-group-item-action">Importing into Phyloseq</a>
			  <a href="{{ url_for('show_qiime2_tutorial') }}" class="list-group-item list-group-item-action">Importing into QIIME 2</a>
			  <a href="{{ url_for('show_webinars') }}" class="list-group-item list-group-item-action">Webinars</a>
			  <a href="{{ url_for('show_external_resources') }}" class="list-group-item list-group-item-action">External Resources</a>
			</div>
		
		</div>
		  <div class="col-sm-9">
			{% block guide_content %}{% endblock %}
		</div>
		</div>
	</div>

{% endblock %}
