{% extends "tutorials_base.html" %}

{% block guide_content %}
<h1>Nephele Webinars</h1>
<h2>How to get the most out of your Nephele results</h2>
<h4>11.16.2018</h4>
<ul style="list-style: none;">
 <li><a href="https://youtu.be/QmKbLzZqN3s" target="_blank" rel="noopener noreferrer">1.   Overview of Nephele 2.0<i class="fas fa-video fa-lg ml-2 mt-1"></i></a></li>
 <li><a href="https://youtu.be/fw_3QeU1mAQ" target="_blank" rel="noopener noreferrer">2.1. Best Practices - Uploading files<i class="fas fa-video fa-lg ml-2 mt-1"></i></a></li>
 <li><a href="https://youtu.be/TrqPPqvAZOE" target="_blank" rel="noopener noreferrer">2.2. Best Practices - QC of your data<i class="fas fa-video fa-lg ml-2 mt-1"></i></a></li>
 <li><a href="https://youtu.be/s3Ty7RhRhhQ" target="_blank" rel="noopener noreferrer">3.1. Exploring Outputs - Important Files and Troubleshooting<i class="fas fa-video fa-lg ml-2 mt-1"></i></a></li>
 <li><a href="https://youtu.be/Ry1KvrlvyVE" target="_blank" rel="noopener noreferrer">3.2. Exploring Outputs - Visualizations<i class="fas fa-video fa-lg ml-2 mt-1"></i></a></li>
 <li><a href="https://youtu.be/F-b-ZzB0UzQ" target="_blank" rel="noopener noreferrer">4.   Q&amp;A and Wrap-up<i class="fas fa-video fa-lg ml-2 mt-1"></i></a></li>
</ul>
<p><a href="{{ slides_url }}" target="_blank" rel="noopener noreferrer">View slides</a>
{% endblock %}